[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "FinCovRegularization"]
	path = FinCovRegularization
	url = https://github.com/yanyachen/fincovregularization
[submodule "MLmetrics"]
	path = MLmetrics
	url = https://github.com/yanyachen/mlmetrics
[submodule "rBayesianOptimization"]
	path = rBayesianOptimization
	url = https://github.com/yanyachen/rbayesianoptimization
